<div id=top>
  <%= render 'welcome/top' %>
</div>

<div id=nav>
  <%= render 'welcome/side' %>
</div>

<div id=content>
	<div id=form>

		<div id=top2>
			<p id=signup>All Users</p>
    	</div>

    	<dic id=inner>
			<%= will_paginate %>
			<ul class="users">
  				<%= render @users %>
			</ul>
		</div>
	</div>
</div>

<%= will_paginate %>