<div id=top>
  <%= render 'welcome/top' %>
</div>

<div id=nav>
  <%= render 'welcome/side' %>
</div>

<div id = content>
  <div id=form>
    
    <div id=top2>
      <p>Sign Up</p>
    </div>

    <p></p>
    
    <div id = inner>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div align = "center">
            <%= form_for(@user) do |f| %>
              <%= render 'shared/error_messages' %>

              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %><br>

              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %><br>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>

              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %><br>

              <%= f.submit "Create my account", class: "btn btn-primary" %><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>