<!DOCTYPE html>
<html>
<head>
  <title>AppYours</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<<<<<<< HEAD
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
=======
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
>>>>>>> 1d8fe1de6b0eb82c6516e267a0348bb4fe978a39
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
