<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @article.price %>
</p>

<p>
  <strong>Stores:</strong>
  <%= @article.stores %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @article.developer %>
</p>
 
<p>
  <strong>Newest Version:</strong>
  <%= @article.version %>
</p>