<a href = "/welcome"><%= image_tag "header_logo.png" %></a>


	<ul id=login>
		<li><%= link_to 'Submit New App', new_app_path %></li>
		<li><a href="/users">Login</a></li>
		<li><a href="/users/new">Sign Up</a></li>
	</ul>

<div id=search>
	<%= form_tag("/search", method: "get", size: "5x5") do %>

	  <%= text_field_tag(:q) %>
	  <%= submit_tag("Search") %>
	<% end %>

	
</div>