<div id=top>
<a href = "../welcome"><%= image_tag "header_logo.png" %></a>
  <div id=log>
    <ul id=login>
      <li><a href="new">Submit New App</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
  </div>
  
  <div id=search>
    <p>Search: </p>
  </div>
</div>

<div id=nav>
	<p> <strong>Navigation</strong> </p>
	<ul id=cats>
		<li><a href="#">iOS</a></li>
		<ul class=subcats>
			<li><a href="#">Games</a></li>
			<li><a href="#">Education</a></li>
			<li><a href="#">Food & Drink</a></li>
			<li><a href="#">Health & Fitness</a></li>
			<li><a href="#">Kids</a></li>
			<li><a href="#">Lifestyle</a></li>
			<li><a href="#">Music</a></li>
			<li><a href="#">Productivity</a></li>
			<li><a href="#">Photo & Video</a></li>
			<li><a href="#">Weather</a></li>
			<li><a href="#">Sports</a></li>
			<li><a href="#">Utilities</a></li>
			<li><a href="#">Misc.</a></li>
		</ul>
		<li><a href="#">Android</a></li>
		<ul class=subcats>
			<li><a href="#">Games</a></li>
			<li><a href="#">Education</a></li>
			<li><a href="#">Food & Drink</a></li>
			<li><a href="#">Health & Fitness</a></li>
			<li><a href="#">Kids</a></li>
			<li><a href="#">Lifestyle</a></li>
			<li><a href="#">Music</a></li>
			<li><a href="#">Productivity</a></li>
			<li><a href="#">Photo & Video</a></li>
			<li><a href="#">Weather</a></li>
			<li><a href="#">Sports</a></li>
			<li><a href="#">Utilities</a></li>
			<li><a href="#">Misc.</a></li>
		</ul>
		<li><a href="#">Windows</a></li>
		<ul class=subcats>
			<li><a href="#">Games</a></li>
			<li><a href="#">Education</a></li>
			<li><a href="#">Food & Drink</a></li>
			<li><a href="#">Health & Fitness</a></li>
			<li><a href="#">Kids</a></li>
			<li><a href="#">Lifestyle</a></li>
			<li><a href="#">Music</a></li>
			<li><a href="#">Productivity</a></li>
			<li><a href="#">Photo & Video</a></li>
			<li><a href="#">Weather</a></li>
			<li><a href="#">Sports</a></li>
			<li><a href="#">Utilities</a></li>
			<li><a href="#">Misc.</a></li>
		</ul>
	</ul>
</div>

<div id = showcontent>
<div id = table>
	<div id = toprow>
		<div id = leftupper>
			<p>
				<strong>Apple Store:</strong>
				<%= @apps.appl_plat %>
				<p>Price: $<%= @apps.appl_price %></p>
				<p>Version: <%= @apps.appl_vers %></p>
			</p>

			<p>
				<strong>Android Store:</strong>
				<%= @apps.andr_plat %>
				<p>Price: $<%= @apps.andr_price %></p>
				<p>Version: <%= @apps.andr_vers %></p>
			</p>

			<p>
				<strong>Windows Store:</strong>
				<%= @apps.wind_plat %>
				<p>Price: $<%= @apps.wind_price %></p>
				<p>Version: <%= @apps.wind_vers %></p>
			</p>
		</div>
	


		<div id = midupper>
			<p id = name>
				<strong><%= @apps.name %></strong>
			</p>
			<div id = applogo></div>
		</div>



		<div id = rightupper>
			<p>
				<strong>Developer:</strong>
				<%= @apps.developer %>
			</p>
		</div>
	</div>
</div>
	
	
<div id = descriptionrow>
	<div id = drow>
		<p>
			<strong>Description:</strong>
		</p>
		<p style = margin-left:45px;>
			<%= @apps.description %>
		</p>
	</div>
</div>

<div id = picsrow>
  <h1>Screenshots</h1>
</div>

<div id = divider></div>

<div id = comments>
  
  <h2>Add a comment:</h2>
<%= form_for([@apps, @apps.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
  
	<h1>Comments</h1>
	<% @apps.comments.each do |comment| %>
	  <p>
		<strong>Commenter:</strong>
		<%= comment.commenter %>
	  </p>
	 
	  <p>
		<strong>Comment:</strong>
		<%= comment.body %>
	  </p>
	<% end %>

  
</div>


</div>